/* I learned about the align-items property on this page:
   https://www.w3.org/Style/Examples/007/center.en.html */
#controls, #volume {
    display: flex;
    align-items: center;
}

#controls button, #volume button {
    flex: auto;
    padding: 0.5em;
    margin: 0em 0.5em;
}

#volume {
    margin-top: 0.5em;
}

#navigation, #songs {
    display: flex;
    flex-direction: column;
}

#navigation button, #songs button {
    display: block;
    padding: 0.5em;
    margin: 0.25em;
}

/* Non-retina-display settings */
@media only screen and (-webkit-max-device-pixel-ratio: 1.5) {
    body {
        max-width: 40em;
    }
    
    h1 {
        font-size: 24pt;
    }
    
    h2 {
        font-size: 20pt;
    }
    
    p, span {
        font-size: 16pt;
    }
    
    button {
        font-size: 12pt;
    }
}

/* Retina display, portrait mode settings */
@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
        font-size: 44pt;
    }
    
    h2 {
        font-size: 40pt;
    }
    
    p, span {
        font-size: 36pt;
    }
    
    button {
        font-size: 32pt;
    }
}

/* Retina display, landscape mode settings */
@media only screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    p, span {
        font-size: 22pt;
    }
    
    button {
        font-size: 18pt;
    }
}
